body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main {
    flex: 2;
    font-size: 16px;
    justify-content: center;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

div{
    margin-top: 10px;
}
